__pycache__/
*.py[cod]
**/__pycache__/
**/**/__pycache__/
**/**/**/__pycache__/
**/**/**/**/__pycache__/
**/**/**/**/**/__pycache__/
**/Inference/kinyatts.egg-info/*
**/Inference/monotonic_align/*
.venv
*.pt
*.json